<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="/static/css/bootstrap.min.css"
            crossorigin="anonymous"
        />
        <link
            rel="stylesheet"
            href="/static/css/home.css"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span></span>
            <span></span>
            <a class="navbar-brand" href="/2/home/">GAME.IO</a>
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/{{user.id}}/home/"
                            >Home
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                </ul>
            </div>
            <a
                class="btn btn-secondary my-2 my-sm-0 ml-auto"
                type="submit"
                href="/logout/"
            >
                Logout
            </a>
        </nav>

        <div class="container">
            <h1>Checkout Bill</h1>
            <br />
            <table class="table table-dark">
                <thead>
                    <tr>
                        <th scope="col">Game</th>
                        <th scope="col">Time</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for game in gamebooked %}
                    <tr>
                        <td>{{game.game_info.game_name}}</td>
                        <td>{{game.game_time}}Hr</td>
                        <td>{{game.game_info.game_price}}₹</td>
                    </tr>
                    {% endfor %} {% for food in foodbooked %}
                    <tr>
                        <td>{{food.item_info.item_name}}</td>
                        <td>{{food.item_quantity}}</td>
                        <td>{{food.item_info.item_price}}₹</td>
                    </tr>
                    {% endfor %}

                    <tr>
                        <td></td>
                        <td></td>
                        <td>{{total}}₹</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
