<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Home</title>
        <link
            rel="stylesheet"
            href="https://bootswatch.com/4/lux/bootstrap.min.css"
            crossorigin="anonymous"
        />
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <span></span>
            <span></span>
            <a class="navbar-brand" href="/2/home/">GAME.IO</a>

            <a
                class="btn btn-secondary my-2 my-sm-0 ml-auto"
                type="submit"
                href="/logout/"
            >
                Logout
            </a>
        </nav>

        <div class="container">
            <h1>Kitchen</h1>
        </div>
    </body>
</html>
